@import "src/assets/css/var";
.main {
    padding: 2px;
}
.form {
    display: flex;
}

.field {
    border-radius: 2px;
    padding: 4px;
    border: 1px solid transparent;
    margin-bottom: 12px;
    &:hover {
        background-color: $activeBg;
        border: 1px solid $activeBorderBg;
    }
    :global {
        .ant-input,
        .ant-picker {
            width: 100%;
        }
    }
}

.active {
    background-color: $activeBg;
}