.list_container {
    height: 100%;
    display: flex;
    flex-direction: column;
    .list {
        width: 600px;
        overflow: auto;
        height: 100%;
    }
    .main {
        flex: 1;
        display: flex;
        overflow: hidden;
        margin-bottom: 8px;
    }
}

.header {
    display: flex;
    justify-content: space-between;
    padding: 4px 0;
    .left {
        display: flex;
         > div {
             margin-right: 24px;
         }
    }

    .add {
        cursor: pointer;
        display: flex;
        align-items: center;
        :global {
            .iconadd {
                &:hover {
                   &::before {
                        color: #1890ff;
                    }
                }
            }
        }
    }
}
.detail {
    margin: 0 8px;
    flex: 1;
    padding: 24px;
    background-color: #fff;

    &_item {
        padding: 8px;
    }

    input[type=text] {
        width: 100%;
    }
    .submit {
        text-align: right;
        input[type=submit] {
            padding: 2px 8px;
        }
        button {
            margin-left: 12px;
        }
    }
}