$linkColor:  #3a99d8;

.edit {
    // display: flex;
    // flex-direction: column;
    width: 100vw;
    height: 100vh;
    position: relative;

    &_header {
        padding: 10px 32px;
        margin-bottom: 32px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        border-bottom: 1px solid #dedede;
        position: sticky;
        top: 0;
        left: 0;
        right: 0;
        z-index: 100;
        background-color: #eff3f5;
        h2 {
            font-size: 16px;
        }
        .save_btn {
            font-size: 16px;
        }
    }

    &_desc {
        margin: 12px 0;
        padding: 0 20px;

        >textarea {
            width: 100%;
        }
    }

    &_body {
        background: #ffffff;
        // overflow: hidden;
        width: 60%;
        min-width: 700px;
        margin: 0 auto;
        height: calc(100vh - 73px);
        display: flex;
        flex-direction: column;
        .title {
            height: 60px;
            width: 100%;
            padding: 12px 24px;
            font-size: 24px;
            outline: none;
            border: none;
        }
    }

    &_content {
        flex: 1;
        #test-editormd {
            height: 100%;
        }

    }

    &_block {
        padding: 8px 24px;
        label {
            font-weight: 600;
            color: #969696;
        }
    }

    .ant-select-selection {
        border: none;
        outline: none;
        padding: 2px 0;
    }
}

.editormd-fullscreen {
    z-index: 9999 !important;
}

.blog_result {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    &_body {
        width: 500px;
        padding: 24px;
        background-color: #ffffff;
    }
    &_header {
        &_link {
            color: $linkColor;
            vertical-align: middle;
            display: flex;
            align-items: center;
            > svg {
                width: 20px;
            }
        }
    }
    &_content {
        background-color: #f5f5f5;
        padding: 12px 4px;
        margin: 12px 0;
    }
    &_footer {
        padding: 12px 0;
        display: flex;
        justify-content: space-between;
    }
    &_success {
        color: green;
    }
    &_create {
        color: $linkColor;
    }
}