{
  "presets": [
    ["@babel/preset-env", {
      "loose":true,
      "modules": false  // 关闭babel的模块化，使用webpack的模块化，这样可以使用tree-shaking
    }],
    "@babel/preset-react",
    "@babel/preset-typescript"
  ],
  "plugins": [
    ["@babel/plugin-syntax-dynamic-import"],
    ["relay", { "artifactDirectory": "./src/__generated__/relay/" }],
    ["import", {
      "libraryName": "antd",
      "style": "css"
    }],
    ["@babel/plugin-transform-runtime"],
    "@babel/plugin-proposal-class-properties",
    ["@babel/plugin-proposal-decorators", {
      "decoratorsBeforeExport": true
    }],
  ],
  // "env": {
  //   "production": {
  //     "plugins": [
  //       "transform-remove-console"
  //     ]
  //   }
  // }
}