.layout {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: row;
    background-color: #eceff1;
    overflow: hidden;
    // padding: 12px;
    &_sidebar {
        // width: 400px;
        // background: #fff;
        margin-right: 12px;
    }
    &_content {
        flex: 1;
    }
}


.sidebar {
    width: 60px;
    background-color: #ffffff;
    padding: 12px 0;
    height: 100%;
    &_item {
        color: #333;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 8px 0;
        font-weight: 500;
        cursor: pointer;
        &_active {
            color: #1890ff;
        }
    }
}