@import "src/assets/css/var";
.preview {
  position: relative;
  .content {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 100;
    background: $bgColor;
    //padding: 24px;
    display: flex;
    flex-direction: column;
  }
  .main {
    display: flex;
    background: #FFFFFF;
    flex: 1;
  }
}

.code {
  width: 50%;
  :global {
    .ant-tabs-nav {
      margin-bottom: 0px;
      .ant-tabs-tab {
        padding: 4px 0;
      }
    }
    .ant-tabs {
      height: 100%;
      display: flex;
    }
    .ant-tabs-content-holder {
      flex: 1;
    }
    .ant-tabs-content {
      height: 100%;
    }
  }
}

.render_container {
  width: 50%;
  padding: 12px;
  display: flex;
  flex-direction: column;
  .form {
    flex: 1;
  }
}
.footer {
  //padding: 8px;
  //margin-top: 2px;
  //background: #FFFFFF;
}