.user_avatar {
    .avatar {
        width: 200px;
        height: 200px;
        background-color: rgba(0,0,0,.2);
        display: block;
    }
    .avatar-uploader {
        margin-top: 36px;
        display: inline-block;
    }
}