.link_create{
    width: 900px;
    background-color: #ffffff;
    margin: 24px auto;
    padding: 24px;
    .textField {
        display: block;
        width: 100%;
        margin-bottom: 32px;
    }
    .submit {
        text-align: right;
    }
}