$white: #FFFFFF;
$gray: rgb(57, 57, 57);

.login {
  display: flex;
  width: 100vw;
  height: 100vh;

  h1 {
    font-size: 24px;
    color: #FFFFFF;
  }

  .ant-form {
    margin-top: 24px;
  }

  .ant-input {
    height: 48px;
  }

  .ant-form-item-label > label {
    color: #FFFFFF;
  }
  .ant-form-item-control-wrapper {
    margin-top: 12px;
  }

  &_paper {
    padding: 48px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 500px;
    background-color: rgb(6, 5, 8);
  }

  &_input {
    color: $white;
    box-shadow: 0 0 0 1000px #000000 inset;
  }

  &_forget {
    margin-top: 12px;
    display: block;
    color: $gray;
    font-size: 12px;
    text-decoration-style: solid;
  }

  &_submit {
    margin-top: 48px;

    >button {
      height: 64px;
      width: 100%;
      font-size: 16px;
      background-color: #3f51b5;
      border-width: 0;
    }
  }

  &_signup {
    display: block;
    color: $white;
    font-size: 14px;
    text-decoration-style: solid;
  }

  &_intro {
    flex: 1;
    background: linear-gradient(rgb(120, 120, 120), #000000);

    &_content {
      margin-top: 200px;
      margin-left: 80px;
      max-width: 200px;
      color: $white;
      font-size: 16px;
    }

    &_learnmore {
      margin-top: 32px;
      color: $white;
      display: block;
      font-size: 12px;
      text-decoration-style: solid;
    }
  }

  .error {
    color: #ff0000;
    display: none;

    &_active {
      display: block;
    }
  }
}