.fieldSelect {
    flex: 1;
    display: flex;
    flex-direction: column;
    padding: 8px;
    .header {
        // display: flex;
        &_name {
        }
        &_label {
            
        }
    }
    .fields {
        flex: 1;
        overflow: auto;
    }
    .field {
        &_name {
            margin: 0 4px;
            cursor: default;
        }
    }
}